<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NomNom - Add a Food</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <%- include('../views/partials/header'); %>  
    </header>
    <h1>Add a Food</h1>
    <section>
        <form action="/post/createPost" method='POST'>
            <input type="text" placeholder="Enter Food Name" name="foodName"><br>
            <input type="text" placeholder="Enter Date" name='foodDate'><br>
            <input type="text" placeholder="Enter Calories" name='foodCalories'><br>
            <input type="text" placeholder="Enter Carbs" name='foodProtein'><br>
            <input type="text" placeholder="Enter Protein" name='foodCarbs'><br>
            <input type="text" placeholder="Enter Fat" name='foodFat'><br>
            <input type="submit" value="Log Food">
        </form>
    
    </section>
    
   
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>