Box Model Hack
* {
    box-sizing: border-box;
    }
    
    Clear fix hack
     .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    } 
    
     .clear {
        clear: both;
    }

/***********
/* Layout
/*********     
*/

body {
    text-align: center;
    color: white;
}

img.resize {
    width:50%; /* you can use % */
    height: auto;
}
.landingPageButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingPageButton > form > button{
    margin: 30px 10px ;
    /* width: 6.7em;
    height: 2em;
    color: white;
    background: #4FA8FF;
    border-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 30px; */
}

h1{
    align-items: center;
    color: black;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.postDisplay {
    color:black;
}

displayContainer {
    border: 1px black;
}